<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="blendobuildmachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <blendobuildmachine.Properties.Settings>
            <setting name="repositoryUrl" serializeAs="String">
                <value>http://yoursubversion123456.com/repositoryaddress</value>
            </setting>
            <setting name="svnExecutable" serializeAs="String">
                <value>c:\Program Files (x86)\SlikSvn\bin\svn.exe</value>
            </setting>
            <setting name="compilerExecutable" serializeAs="String">
                <value>c:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe</value>
            </setting>
            <setting name="localFolderpath" serializeAs="String">
                <value>c:\games\monstergame</value>
            </setting>
            <setting name="solutionfile" serializeAs="String">
                <value>c:\games\monstergame\neo\solution\monstergame.sln</value>
            </setting>
            <setting name="environmentVars" serializeAs="String">
                <value>VCTargetsPath c:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\v140</value>
            </setting>
            <setting name="openexefolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="runexewhendone" serializeAs="String">
                <value>False</value>
            </setting>
        </blendobuildmachine.Properties.Settings>
    </userSettings>
</configuration>